services:

  app:
    image: rhanmar/devops-for-developers-project-74
    build:
      context: .
      dockerfile: Dockerfile.production
    env_file:
      - ./app/.env
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  postgres:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
